<style>
    .poi-check-result {
        margin-bottom: 0px;
        display: block;
        border-top: 1px solid #3399ff;
        border-bottom: 1px solid #3399ff;
    }
    .poi-check-result > thead {
        display: block;
        /*border-top: 1px solid #3399ff;*/
        border-bottom: 1px solid #3399ff;
    }
    .poi-check-result > thead > tr > th {
        line-height: 22px;
        font-size: 12px;
        font-weight: bold;
        color: #3399ff;
        border: none;
        padding: 4px 5px;
    }
    .poi-check-result > thead > tr > th:first-child {
        padding-left: 10px;
    }
    .poi-check-result > thead > tr > th:last-child {
        padding-right: 10px;
    }
    .poi-check-result > tbody {
        display: block;
        /*height: 146px;*/
    }
    .poi-check-result > tbody > tr {
        border-top: 1px solid transparent;
    }
    .poi-check-result > tbody > tr:hover, .poi-check-result > tbody > tr:active {
        background-color: #eaf5ff;
        border-top: 1px solid #3399ff;
        border-bottom: 1px solid #3399ff;
    }
    .poi-check-result > tbody > tr > td {
        border: none;
        padding: 4px 5px;
        line-height: 24px;
        font-size: 12px;
        color: #182848;
    }
    .poi-check-result > tbody > tr > td:first-child {
        padding-left: 10px;
    }
    .poi-check-result > tbody > tr > td:last-child {
        padding-right: 10px;
    }
    .poi-check-result a {
        color: #ff6699;
        text-decoration: underline;
    }
    .poi-check-result span.opt {
        color: rgba(24, 40, 72, 0.5);
    }
    .poi-check-result .col1 {
        width: 40px;
    }
    .poi-check-result .col2 {
        width: 120px;
        max-width: 120px;
    }
    .poi-check-result .col3 {
        width: 240px;
        max-width: 240px;
    }
    .poi-check-result .col4 {
        width: 80px;
    }
    .poi-check-result .col5 {
        width: 80px;
    }
    .related-poi-popover .popover-content {
        padding: 0px;
    }
    ul.related-poi-list {
        width: auto;
        padding: 0px;
        margin: 0px;
    }
    ul.related-poi-list > li {
        list-style: none;
        padding: 5px;
        margin: 0px;
        min-height: 30px;
        line-height: 20px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    ul.related-poi-list > li:hover {
        border-top: 1px solid #3f9fff;
        border-bottom: 1px solid #3f9fff;
        background-color: #eaf5ff;
        cursor: pointer;
    }
    ul.related-poi-list > li > span {
        display: inline-block;
        vertical-align: top;
        margin: 0px 5px;
        font-size: 12px;
    }
    .poiLeftPanel_container .tab-no-title {
        display: none;
    }
    .page-info{
        float: left;
        color: #000;
        font-size: 12px;
        line-height: 18px;
    }
    .poiLeftPanel_container input[type=file] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: none;
        outline: none;
        background: url('../../images/newPoi/leftPanelIcon/button_upload_normal.png');
    }
    .poiLeftPanel_container input[type=file]:enabled:hover {
        background: url('../../images/newPoi/leftPanelIcon/button_upload_active.png');
    }

    .poiLeftPanel_container div.upload-time {
        line-height: 30px;
        display: inline-block;
        position: absolute;
        left: 20px;
        font-size: 12px;
        color: white;
    }
    .poiLeftPanel_container button.link {
        background: url('../../images/newPoi/leftPanelIcon/link.png') no-repeat;
    }
</style>
<div class="poiLeftPanel_container" ng-controller="poiLeftViewPanelCtrl">
    <div class="t-title">
        <div style="font-size: 16px;">
            <div style="width: 60px;">
                <img ng-show="poi.state===1" src="../../images/newPoi/leftPanelIcon/icon-add.png"/>
                <img ng-show="poi.state===2" src="../../images/newPoi/leftPanelIcon/icon_delete.png"/>
                <img ng-show="poi.state===3" src="../../images/newPoi/leftPanelIcon/icon_change.png"/>
            </div>
            <div style="width: 280px;" class="poiLeftPanel_intercepted">
                <strong ng-if="poi.name"> {{poi.name.name}} </strong>
                <strong ng-if="poi.deepName"> {{poi.deepName.name}} </strong>
            </div>
            <div style="width: 160px;" class="poiLeftPanel_intercepted">
                <strong>
                    分类： {{metaData.kindFormat[poi.kindCode].kindName}}
                </strong>
            </div>
        </div>
        <div>
            <div style="width: 120px;">
                <strong> 审核状态： </strong>
                <span ng-if="!deepInfoFlag">  {{statusObject[poi.status]}} </span>
            </div>
            <div style="width: 120px;">
                <strong>鲜度认证：</strong>
                <span ng-if="!deepInfoFlag"> {{freshObject[poi.freshnessVefication]}}</span>
            </div>
            <div style="width: 120px;">
                <strong> 3D标识： </strong>
                <span ng-if="!deepInfoFlag"> {{poi.poi3DIcon ? '是':'否'}} </span>
            </div>
            <div style="width: 120px;">
                <strong> 重要POI： </strong>
                <span ng-if="!deepInfoFlag">  {{poi.vipFlag ? '是':'否'}} </span>
            </div>
        </div>
        <div class="poiLeftPanel_son_div">
            <!--<div class="poiLeftPanel_top_first">-->
                <!--<div class="poiLeftPanel_line">-->
                    <!--<div class="poiLeftPanel_universally">-->
                        <!--<img ng-show="poi.state===1" src="../../images/newPoi/leftPanelIcon/icon-add.png"/>-->
                        <!--<img ng-show="poi.state===2" src="../../images/newPoi/leftPanelIcon/icon_delete.png"/>-->
                        <!--<img ng-show="poi.state===3" src="../../images/newPoi/leftPanelIcon/icon_change.png"/>-->
                    <!--</div>-->
                    <!--<div class="poiLeftPanel_div_name poiLeftPanel_universally poiLeftPanel_intercepted">-->
                        <!--<strong ng-if="poi.name">-->
                            <!--{{poi.name.name}}-->
                        <!--</strong>-->
                        <!--<strong ng-if="poi.deepName">-->
                            <!--{{poi.deepName.name}}-->
                        <!--</strong>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="poiLeftPanel_top_second">-->
                <!--<div class="poiLeftPanel_line">-->
                    <!--<div class="poiLeftPanel_div_type poiLeftPanel_universally poiLeftPanel_intercepted">-->
                        <!--<strong>-->
                            <!--分类：-->
                        <!--</strong>-->
                        <!--<span>-->
                                <!--{{metaData.kindFormat[poi.kindCode].kindName}}-->
                            <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="poiLeftPanel_top_third">
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                            <span>
                                {{poiDate}}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t-content">
        <div class="main">
            <div fm-form-control="">
                <div class="poiLeftPanel">
                    <div class="poiLeftPanel_img_show_container">
                        <button class="fm-img-btn del-img" ng-click="deletePhoto(nowActiveImg);" ng-disabled="!nowActiveImg.originUrl || deepInfoFlag || seasonsPhoto.type==1" title="删除">
                        </button>
                        <div class="main-img">
                            <img id="poiImage" ng-show="nowActiveImg.originUrl" ng-src="{{nowActiveImg.originUrl}}" ng-style="bigImgStyle"/>
                            <div ng-show="!nowActiveImg.originUrl" style="display: inline-block;"></div>
                            <div class="poi-btn-bg" ng-show="!deepInfoFlag">
                                <div class="upload-time" >
                                    <span ng-show="nowActiveImg.uDate" style="font-weight: 700;">上传时于：</span>
                                    <span ng-show="nowActiveImg.uDate">{{nowActiveImg.uDate}}</span>
                                    <span ng-show="nowActiveImg.origin.tag" style="font-weight: 700;margin-left: 10px;">当前类型：</span>
                                    <span>{{photoTagOptionsObj[nowActiveImg.origin.tag]}}</span>
                                </div>
                                <button class="fm-img-btn btn-transform trans-right" ng-disabled="seasonsPhoto.type==1" ng-click="rotateBigImg(nowActiveImg,1)" ng-if="tempPhotos.length>0">
                                </button>
                                <input multiple="" nv-file-select="" type="file" uploader="uploader" />
                            </div>
                        </div>
                        <div class="img-load" ng-show="showProgress">
                        </div>
                    </div>
                </div>
                <div class="poiLeftPanel_operate">
                    <span title="筛选照片时间" ng-if="!deepInfoFlag">照片时间</span>
                    <select class="form-control poiRightPanel_select_small"
                            ng-change="changePhotoType()" ng-if="!deepInfoFlag"
                            ng-model="seasonsPhoto.type"
                            ng-options="item.type as item.label for item in photoTypeOptions">
                    </select>
                    <span title="修改后，保存POI，可以修改当前照片类型" ng-if="!deepInfoFlag">照片类型</span>
                    <select class="form-control poiRightPanel_select_small" ng-disabled="seasonsPhoto.type==1" ng-if="!deepInfoFlag" ng-model="nowActiveImg.tag" ng-options="item.id as item.label for item in photoTagOptions">
                    </select>
                    <div class="float-right" ng-show="!deepInfoFlag">
                        <a href="javascript:void(0)" ng-click="confirm()">关联照片</a>
                    </div>
                </div>
                <div class="poiLeftPanel_Thumbnails">
                    <div class="poiLeftPanel_Thumbnails_left pull-left" ng-click="changePage(1)">
                    </div>
                    <div style="display: flex; align-items: center; width: 460px;">
                        <div class="poi-img-container" ng-click="showPreviewImg(item, $index);" ng-repeat="item in tempPhotos">
                            <div class="poiLeftPanel_Thumbnails_div" ng-class="{'active':nowActiveIndex == $index+1, 'btn-not-allow': !item.originUrl}">
                                <img alt="" image-404="../../images/road/img/noimg.png" ng-class="{'active':nowActiveIndex == $index+1,'tips-img':true}" ng-src="{{item.thumbnailUrl}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="poiLeftPanel_Thumbnails_right pull-right" ng-click="changePage(2);">
                    </div>
                </div>
            </div>
            <div nav-class="tab-no-title" ng-show="checkResultTableParam.data.length">
                <div data-title="检查结果" name="tab1" style="height: 180px;">
                    <table class="table table-condensed table-striped fm-scroll poi-check-result" ng-table="checkResultTableParam">
                        <tr ng-repeat="row in $data">
                            <td class="col1" data-title="'序号'" header-class="'col1'">
                                {{$index + 1}}
                            </td>
                            <td class="col2 fm-ellipsis" data-title="'规则号'" header-class="'col2'" ng-attr-title="{{row.ruleId}}">
                                {{row.ruleId}}
                            </td>
                            <td class="col3 fm-ellipsis" data-title="'错误描述'" header-class="'col3'" ng-attr-title="{{row.information}}">
                                {{row.information}}
                            </td>
                            <td class="col4" data-title="'操作'" header-class="'col4'">
                                <span class="opt" ng-if="row.rank === 1">不可忽略</span>
                                <a href="javascript:void(0);" ng-click="doIgnoreCheckResult(row)" ng-if="row.rank !== 1"> 忽略 </a>
                            </td>
                            <td class="col5" data-title="'关联POI'" header-class="'col5'">
                                <span class="opt" ng-if="row.refFeatures.length === 0">无</span>
                                <a bs-popover="" data-auto-close="1" data-placement="auto" data-template-url="./editor/components/left-panels/poi/relatedPoi.tpl.htm" href="javascript:void(0);" ng-if="row.refFeatures.length > 0">
                                    {{row.refFeatures.length}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="t-footer">
        <div>
            <div style="width: 200px;">
                采集时间：{{poiDate}}
            </div>
            <div style="width: 180px;">
                <a href="javascript:void(0)" ng-click="getPreInfo();">上一条</a>/
                <a href="javascript:void(0)" ng-click="getNextInfo();">下一条</a>
            </div>
            <div style="width: 130px;text-align: right;" ng-show="poiIndexPage">
                {{statusObject[poi.status]}} {{ poiIndexPage +'/'+ poiListTotal}}
            </div>
        </div>
    </div>
</div>