<div class="ng-cloak ng-table-pager fm-grid-pager" style="bottom: 0;position: absolute;width: 100%;margin: 0;padding: 10px;height: 50px;">
    <div class="total">
        共
        <span class="total-count" ng-bind="params.total()">
        </span>
        条
    </div>
    <div class="page">
        <ul class="pagination" ng-if="pages.length">
            <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                <a class="prev-page" href="" ng-click="params.page(page.number)" ng-switch-when="prev">
                </a>
                <a href="" ng-click="params.page(page.number)" ng-switch-when="first">
                    <span ng-bind="page.number">
                    </span>
                </a>
                <a href="" ng-click="params.page(page.number)" ng-switch-when="page">
                    <span ng-bind="page.number">
                    </span>
                </a>
                <a href="" ng-click="params.page(page.number)" ng-switch-when="more">
                    …
                </a>
                <a href="" ng-click="params.page(page.number)" ng-switch-when="last">
                    <span ng-bind="page.number">
                    </span>
                </a>
                <a class="next-page" href="" ng-click="params.page(page.number)" ng-switch-when="next">
                </a>
            </li>
        </ul>
    </div>
    <div class="count" ng-if="params.settings().counts.length">
        <span>
            每页
        </span>
        <select class="fm-control" ng-change="params.count(pageSize)" ng-init="pageSize=10" ng-model="pageSize" ng-options="count for count in params.settings().counts" style="width:64px">
        </select>
        <span>
            条
        </span>
    </div>
</div>