<div class="fm-panel" style="padding-top: 40px;" ng-controller="BatchRightEditPanelCtrl">
    <div class="header" style="margin-top: -40px;">
        <div class="title" style="margin-left: 30px;">
            <strong>批量编辑</strong>
            <strong ng-bind="objectName"></strong>
        </div>
        <div class="toolbar">
            <img class="flat-btn" src="../../images/newPoi/rightPanelIcon/icon-save.png" ng-click="doSave()">
        </div>
    </div>
    <div class="content" ng-include="batchEditTmpl"></div>
</div>